#root_container {
    position: relative;

    .badge_container {
        position: absolute;
        background-color: transparent;
        top: 15px;
        right: 15px;

        .badge {
            position: relative;
            cursor: pointer;

            span {
                color: red;
                font-size: 2rem;
            }

            b {
                position: absolute;
                top: -10px;
                right: -10px;
                color: white;
                background-color: blue;
                padding: 0 7px;
                border-radius: 10px;
                font-size: 0.8rem;
            }
        }

        .sidebar {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 300px;
            z-index: 2;
            background-color: rgba(93, 93, 132);

            .close-btn {
                text-align: right;
                cursor: pointer;
            }
        }
    }


}